
build/classes/Controller_Window/MainWindowVC.class

build/classes/Controller_Window/MainWindowVC$1.class

build/classes/Controller_Window/MainWindowVC$2.class

build/classes/Controller_Window/MessungWindowVC.class

build/classes/Controller_Window/MessungWindowVC$1.class

build/*

dist/*

Json_Fehler/*
